.input-wrap {
  position: relative;
}

.input-wrap svg {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  fill: #7081ad;
  pointer-events: none;
}
